{% extends 'home.html' %}
{% block title %}Все пользователи{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2>Все пользователи: </h2>
    </div>
    <div class="container">
        {% for user in users %}
            <div class="row mt-4">
                <div class="col"></div>
                <div class="col-sm-9 col-md-6 col-lg-4">
                    <div class="card">
                        <img src="{{ MEDIA_URL }}{{ user.profile.avatar.url }}" class="card-img-top col-sm" alt="..." height="320px" width="240px">
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title ms-2">{{ user }}(id: {{ user.id }})</h5>
                            <p class="card-text mt-2 ms-2">
                            Фамилия: {{ user.last_name }} <br>
                            Имя: {{ user.first_name }} <br>
                            Отчество: {{ user.profile.patronymic }} <br>
                            </p>
                            {% if user.email %}
                                <p class="card-text mt-2 ms-2">
                                Email: {{ user.email }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        {% endfor %}
    </div>
    <div class="container mt-4 ms-4">
        <p><a href="{% url "my_profile" %}" class="btn btn-info">Назад к профилю</a></p>
    </div>
{% endblock %}